<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="XAC Automation Test Suite" parallel="classes" thread-count="3">
    
    <listeners>
        <listener class-name="com.airxx.core.listeners.TestListener"/>
    </listeners>
    
    <!-- Smoke Tests -->
    <test name="Smoke Tests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <packages>
            <package name="com.airxx.tests.*"/>
        </packages>
    </test>
    
    <!-- UI Tests -->
    <test name="UI Tests">
        <classes>
            <class name="com.airxx.tests.ui.LoginTest"/>
            <class name="com.airxx.tests.ui.BookingTest"/>
        </classes>
    </test>
    
    <!-- API Tests -->
    <test name="API Tests">
        <classes>
            <class name="com.airxx.tests.api.LoginApiTest"/>
            <class name="com.airxx.tests.api.BookingAPI"/>
        </classes>
    </test>
    
    <!-- BDD Tests -->
    <test name="BDD Tests">
        <classes>
            <class name="com.airxx.tests.bdd.runners.TestRunner"/>
        </classes>
    </test>
    
</suite>
